@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.google.com/specimen/Bungee+Shade');

body{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.clear{
  background-color: rgb(4, 90, 71);
}

.container{
  border: 1px solid #000;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.copyright{
  text-align: center;
  font-size: 2rem;
  margin-right: 5px;
  margin-bottom: 10px;
  font-family: Bungee Shade;
}

.equal{
  background-color: rgb(24, 150, 122);
  grid-row: 4 / span 2;
  grid-column: 4 / 5; 
}

.keys{
  display: grid;
  grid-template: repeat(5, 60px)/ repeat(4, 1fr);
  gap: 1px;
  justify-content: center;
  margin: 0 6px 5px;
  margin-bottom: 5px;
}

.keys > div{
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  display: grid;
  align-content: center;
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
  position: relative;
  user-select: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.keys > div:active{
  top: 3px;
}

.keys > div:hover{
  background-color: rgb(4, 226, 152);
}

.operator{
  background-color: rgb(104, 199, 159);
}

.screen{
  height: 80px;
  width: 96.5%;
  margin: 10px 5px 10px 5px;
  text-align: right;
  font-size: 4rem;
  padding: 10px;
  box-sizing: border-box;
  background-color: #000000;
  color: rgb(77, 255, 181);
  overflow: hidden;
  border: none;
  user-select: text;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}



